body, footer {
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    background-color: black;
    font-family: 'Rounded Mplus 1c';
}
body {
    font-size: 14pt;
}
footer {
    color: white;
    font-size: 12pt;
}
h1, h2, h3, h4 {
    color: red;
    font-family: 'Rounded Mplus 1c';
}
h1 {
    font-size: 28pt;
}
h2 {
    font-size: 26pt;
}
h3 {
    font-size: 24pt;
}
.arcadia {
    font-family: 'Metamorphous', cursive;
}
.page-header {
    background-color: black;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

/* タイトル */
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: red;
    font-size: 36pt;
    text-decoration: none;
}
.date {
    float: right;
    color: #828282;
}
.save {
    float: right;
}
.post-form textarea, .post-form input {
    color: black;
    width: 100%;
}
.post {
    margin-bottom: 70px;
    font-size: 12pt;
}

/*スクロール用*/
thead.scrollHead,tbody.scrollBody{
  display:block;
}
tbody.scrollBody{
  overflow-y:scroll;
  height: 50%;
}
