html
body,
footer {
  color: white;
  font-family: 'Rounded Mplus 1c';
}

html
body,
footer,
.list-group-item,
.form-control,
.card {
  background-color: black;
}

.page-header {
  padding: 2em 2em 2em 0em;
}

/* タイトル */
.title,
.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
  color: red;
  text-decoration: none;
  font-family: 'Metamorphous', cursive;
}
.id {
  float: left;
  color: gray;
}
.date {
  float: right;
  color: gray;
}
.save {
  float: right;
}
.post-form textarea,
.post-form input {
  color: black;
  width: 100%;
}

.c-name,
.c-title {
  color: red;
}
th,td {
  word-break: break-all;
  word-wrap: break-word;
}
a:hover {
  text-decoration: none;
}
.card,
.card-header {
  border-color: gray;
}
