html
body,
footer {
  color: white;
  background-color: black;
  font-family: 'Rounded Mplus 1c';
}
.arcadia {
  color: red;
  font-family: 'Metamorphous', cursive;
}
.page-header {
  padding: 2em 2em 2em 0em;
}

/* タイトル */
.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
  color: red;
  text-decoration: none;
}
.date {
  float: right;
  color: #828282;
}
.save {
  float: right;
}
.post-form textarea,
.post-form input {
  color: black;
  width: 100%;
}

.table {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}
.c-name,
.c-title {
  color: red;
}