{% extends 'werewolf/base.html' %}

{% load static %}

{% block content %}
<div class="post">
  <h4>新規投稿</h4>
  <form method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">投稿</button>
  </form>
</div>

<table class="table table-bordered">
  <tbody>
    {% for post in posts %}
    <tr>
      <td rowspan="2"><img src="{% static "rain/01.png"%}"/></td>
      <td><h4>{{ post.title }}</h4></td>
      <td><div class="date">{{ post.published_date }}</div></td>
    </tr>
    <tr>
      <td colspan="2">{{ post.text|linebreaks }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
