<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Werewolf Arcadia</title>
    <link rel='shortcut icon' href='{% static "favicon/favicon.ico" %}'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Metamorphous'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css'>
    <link rel='stylesheet' href='{% static "css/common.css" %}'>
    </head>
  <body>
    <div class='container'>
      <a href="{% url 'index:top' %}" class='arcadia text-center'><h1>Werewolf Arcadia</h1></a>
      <nav class="nav navbar">
        <a class="nav-item nav-link" href="{% url 'werewolf:create' %}">村を建てる</a>
        <a class="nav-item nav-link" href="{% url 'werewolf:index' %}">募集村</a>
        <a class="nav-item nav-link" href="{% url 'werewolf:pal' %}">身内村</a>
        <a class="nav-item nav-link" href="{% url 'werewolf:log' %}">過去村</a>
        <a class="nav-item nav-link" href="{% url 'bbs:post_list' %}">掲示板</a>
        {% if user.is_authenticated %}
          <a class="nav-item nav-link" href="/admin" style="color: black;">管理画面</a>
          <a class="nav-item nav-link" href="{% url 'account:logout' %}">ログアウト</a>
        {% else %}
          <a class="nav-item nav-link" href="{% url 'account:create' %}">ユーザ登録</a>
          <a class="nav-item nav-link" href="{% url 'account:login' %}">ログイン</a>
        {% endif %}
      </nav>
      {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
