<meta name=viewport content="width=device-width, initial-scale=1">

{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Werewolf Arcadia</title>
        <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Metamorphous'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css'>
        <link rel='stylesheet' href='{% static 'css/blog.css' %}'>
    </head>
    <body>
        <div class='page-header'>
            <h1><a href='/'><span class='arcadia'>Werewolf Arcadia</span></a></h1>
            <a href='/blog'>掲示板</a>　
            <a href='/werewolf'>村一覧</a>　
            <a href='/admin'>管理画面</a>
        </div>
        <div class='content container'>
        <p><a href="http://nejiten.halfmoon.jp/">ねじれ天国</a>から派生した人狼サイトプロジェクトです。</p>
        <p>
        ・スマホでも使える<br>
        ・リロードなしで動作する<br>
        ・過疎でもAIを追加して遊べる
        </p>
        <p>を目標としています。</p>
        </div>
    </body>        
    <div class='page-header'></div>
    <footer>
        <p>powered by Django1.11.2(Python3.6.10)<br>
        created by <a href='https://twitter.com/a19th'>a19th</a></p>
    </footer>
</html>
