{% extends "werewolf/base.html" %}

{% block content %}
<div class='content container'>
  <nav class="nav navbar">
    <div class="container-fluid">
      <a class="nav-item nav-link" href="/blog">匿名掲示板</a>
      {% if user.is_authenticated %}
        <a class="nav-item nav-link" href="/admin">管理画面</a>
        <a class="nav-item nav-link" href="{% url 'account:logout' %}">ログアウト</a>
      {% else %}
        <a class="nav-item nav-link" href="{% url 'account:create' %}">ユーザ登録</a>
        <a class="nav-item nav-link" href="{% url 'account:login' %}">ログイン</a>
      {% endif %}
    </div>
  </nav>
</div>
{% endblock %}

