{% extends 'index/base.html' %}
{% load static %}

{% block content %}
  <div class='container'>
    <div class="card-block">
      <div class="col-sm-12">

        <div class="card border-dark rounded mb-3">
          <div class="card-body border-dark">
            <p class="card-text text-word-break-all"><a href='http://nejiten.halfmoon.jp/'>ねじれ天国</a>から派生した人狼サイトプロジェクトです。</p>
            <p class="card-text text-word-break-all">以下のキャラセットをお借りしています。</p>
          </div>
        </div>

        <div class="card border-dark rounded mb-3">
          <div class="card-body border-dark">
            <div class="media">
              <img class="img-fluid d-flex align-self-center mr-4" src="{% static 'rain/01.png' %}" width='70'/>
              <div class="media-body">
                <p class="card-title c-title">霧雨降る街</span></p>
                <p class="card-text text-word-break-all">きりのれいん 様</p>
                <p class="card-text text-word-break-all"><a href='http://misty-rain.sakura.ne.jp/fall0rain/'>http://misty-rain.sakura.ne.jp/fall0rain/</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card border-dark rounded mb-3">
          <div class="card-body border-dark">
            <div class="media">
              <img class="img-fluid d-flex align-self-center mr-4" src="{% static 'rainBig/01.png' %}" width='70'/>
              <div class="media-body">
                <p class="card-title c-title">霧雨降る街 -BIG version-</span></p>
                <p class="card-text text-word-break-all">きりのれいん 様</p>
                <p class="card-text text-word-break-all"><a href='http://misty-rain.sakura.ne.jp/fall0rain/'>http://misty-rain.sakura.ne.jp/fall0rain/</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card border-dark rounded mb-3">
          <div class="card-body border-dark">
            <div class="media">
              <img class="img-fluid d-flex align-self-center mr-4" src="{% static 'jewel/01_n.png' %}" width='70'/>
              <div class="media-body">
                <p class="card-title c-title">宝石箱《Jewel Box》</span></p>
                <p class="card-text text-word-break-all">宝石箱制作委員会 様</p>
                <p class="card-text text-word-break-all"><a href='http://misty-rain.sakura.ne.jp/jewel/faq.html'>http://misty-rain.sakura.ne.jp/jewel/faq.html</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card border-dark rounded mb-3">
          <div class="card-body border-dark">
            <div class="media">
              <img class="img-fluid d-flex align-self-center mr-4" src="{% static 'ensou/001.png' %}" width='70'/>
              <div class="media-body">
                <p class="card-title c-title">演奏会</span></p>
                <p class="card-text text-word-break-all">ゆひろ 様</p>
                <p class="card-text text-word-break-all"><a href='http://yuhiroiro.web.fc2.com/ensou_set.html'>http://yuhiroiro.web.fc2.com/ensou_set.html</a></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
