{% extends 'index/base.html' %}
{% load static %}

{% block content %}
  <div class='container'>
    <div class="card-block">
      <div class="col-sm-12">

        <div class="card border-dark rounded mb-3">
          <div class="card-body border-dark">
            <p class="card-title c-title">about</p>
            <p class="card-text text-word-break-all"><a href='http://nejiten.halfmoon.jp/'>ねじれ天国</a>から派生した人狼サイトプロジェクトです。</p>
            <p class="card-text text-word-break-all">最強の人狼サーバであるねじれ天国の弱点を補い、理想の人狼サーバを目指すというコンセプトです。</p>
          </div>
        </div>

        <div class="card border-dark rounded mb-3">
          <div class="card-body border-dark">
            <p class="card-title c-title">キャラセット</p>
            <p class="card-text text-word-break-all">いくつかのキャラセットをお借りしています。</p>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
