{% extends 'werewolf/base.html' %}

{% block content %}
<div class='content container'>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'werewolf:vote' question.id %}" method="post">
<!-- cross-site request forgeries token -->
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="投票" />
</form>
</div>
{% endblock %}
