{% load static %}
<html>
    <head>
        <title>Werewolf Arcadia</title>
        <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Metamorphous'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css'>
        <link rel='stylesheet' href='{% static "werewolf/style.css" %}' />
    </head>
    <body>
        <div class='page-header'>
            <h1><a href='/werewolf'><span class='arcadia'>Werewolf Arcadia</span></a></h1>
        </div>
        <div class='page-header'>
        <div class='content container'>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>募集中</th>
                <th>村名</th>
                <th>開始日時</th>
                <th>キャラセット</th>
                <th>村主</th>
              </tr>
            </thead>
            <tbody>
            {% if latest_question_list %}
                {% for question in latest_question_list %}
                  <tr>
                    <td>{{ question.id }}村</td>
                    <td><a href="{% url 'werewolf:detail' question.id %}">{{ question.question_text }}</a></td>
                    <td>2017年06月10日00時00分</td>
                    <td><a href='http://misty-rain.sakura.ne.jp/fall0rain/'>霧雨降る街</a></td>
                    <td><a href='https://twitter.com/a19th'>a19th</a></td>
                  </tr>
                {% endfor %}
            {% else %}
                <tr><p>No polls are available.</p></tr>
            {% endif %}
            </tbody>
        </table>
        <p>
            <p><a href="http://nejiten.halfmoon.jp/">ねじれ天国</a>から派生した人狼サイトプロジェクトです。</p>
            <p>未完成ですが現在<a href="https://arcadia19th.herokuapp.com/admin">管理画面</a>から村作成(と見せかけた投票作成)が可能です。</p>
            <p>ID:test<br>
            PS:hogehoge</p>
        </p>
        </div>
        </div>
    </body>
    <footer>
        <p>powered by Django1.11.2(Python3.6.10)<br>
        created by <a href='https://twitter.com/a19th'>a19th</a></p>
    </footer>
</html>

