{% load static %}
<html>
    <head>
        <title>Werewolf Arcadia</title>
        <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Metamorphous'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css'>
        <link rel='stylesheet' href='{% static "werewolf/style.css" %}' />
    </head>
    <body>
        <div class='page-header'>
            <a href='{% url 'post_new' %}' class='top-menu'>
                <span class='glyphicon glyphicon-plus'></span>
            </a>
            <h1><a href='/werewolf'><span class='arcadia'>Werewolf Arcadia</span></a></h1>
        </div>
        {% if latest_question_list %}
            <ul>
            {% for question in latest_question_list %}
                <li><a href="{% url 'werewolf:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
        <div class='content container'>
            <div class='row'>
                <div class='col-md-8'>
                {% block content %}
                {% endblock %}
                </div>
            </div>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>募集中</th>
                <th>村名</th>
                <th>開始日時</th>
                <th>キャラセット</th>
                <th>村主</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">5村</th>
                <td><a href='/werewolf'>終焉の村</a></td>
                <td>2017年06月10日00時00分</td>
                <td><a href='/werewolf'>霧雨降る街</a></td>
                <td><a href='/werewolf'>a19th</a></td>
              </tr>
              <tr>
                <th scope="row">4村</th>
                <td><a href='/werewolf'>災厄の村</a></td>
                <td>2017年06月10日00時00分</td>
                <td><a href='/werewolf'>霧雨降る街</a></td>
                <td><a href='/werewolf'>a19th</a></td>
              </tr>
              <tr>
                <th scope="row">3村</th>
                <td><a href='/werewolf'>異変の村</a></td>
                <td>2017年06月10日00時00分</td>
                <td><a href='/werewolf'>霧雨降る街</a></td>
                <td><a href='/werewolf'>a19th</a></td>
              </tr>
              <tr>
                <th scope="row">2村</th>
                <td><a href='/werewolf'>始まりの村</a></td>
                <td>2017年06月10日00時00分</td>
                <td><a href='/werewolf'>霧雨降る街</a></td>
                <td><a href='/werewolf'>a19th</a></td>
              </tr>
              <tr>
                <th scope="row">1村</th>
                <td><a href='/werewolf'>平和な村</a></td>
                <td>2017年06月10日00時00分</td>
                <td><a href='/werewolf'>霧雨降る街</a></td>
                <td><a href='/werewolf'>a19th</a></td>
              </tr>
            </tbody>
        </table>
        </div>
    </body>
</html>

