{% extends 'index/base.html' %}
{% load static %}

{% block content %}
    <div class='container'>
        <div class="card-group">
            {% if user.is_authenticated %}
                <div class="col-sm-6">
                    <div class="card text-white border-dark mb-4">
                        <div class="card-header border-dark">
                            <p class="c-title card-text">新規村</p>
                            </div>
                        <div class="card-body border-dark">
                            <form method="POST">{% csrf_token %}
                                <p class="card-title text-center">{{ form.name }}</p>
                                <button type="submit" class="save btn btn-block btn-outline-primary">作成</button>
                                </form></div></div></div>{% endif %}
            {% for village in latest_village_list %}
                <div class="col-sm-6">
                    <div class="card text-white border-dark mb-4">
                        <div class="card-header border-dark">
                        <p class="card-text text-dark">
                            <span class="text-left"">{{ village.id }}</span>
                            <span class="text-right" style="float:right;">{{ village.created_date }}</span>
                            <p>
                        <p class="card-text c-title text-word-break-all">{{ village.name }}</p>
                        </div>
                        <div class="card-body border-dark">
                            <div class="media">
                                <img class="img-fluid d-flex align-self-center mr-3" src="{% static 'rain/01.png' %}"/>
                                <div class="media-body">
                                    <table class="table">
                                        <tbody>
                                            <tr><td class="border-0">{{ village.auther }}</td></tr>
                                            <tr><td>牛村</td></tr>
                                            <tr><td>霧雨降る街</td></tr>
                                            </tbody></table></div></div>
                            <a href="{% url 'werewolf:village' village.id %}" class="btn btn-block btn-outline-primary">入村</a>
                            </div></div></div>{% endfor %}</div></div>{% endblock %}
