{% extends 'index/base.html' %}
{% load static %}

{% block content %}
    <div class='container'>
        <div class="card-group">
            {% for village in object_list %}
                <div class="col-sm-6">
                    <div class="card border-dark rounded mb-4">
                        <div class="card-header border-dark">
                        <p class="card-text text-dark">
                            <span class="text-left"">{{ village.id }}</span>
                            <span class="text-right" style="float:right;">{{ village.created_date }}</span>
                            <p>
                        <p class="card-text c-title text-word-break-all">{{ village.name }}</p>
                        </div>
                        <div class="card-body border-dark">
                            <div class="media">
                                <img class="img-fluid d-flex align-self-center mr-3" src="{% static village.character_img_url %}"/>
                                <div class="media-body">
                                    <table class="table">
                                        <tbody>
                                            <tr><td class="border-0 card-text">{{ village.auther_name }}</td></tr>
                                            <tr><td class="card-text">牛村</td></tr>
                                            <tr><td class="card-text">{{ village.charaset_name }}</td></tr>
                                            </tbody></table></div></div>
                            <a href="{% url 'werewolf:village' village.id %}" class="btn btn-block btn-outline-info">入村</a>
                            </div></div></div>{% endfor %}</div></div>{% endblock %}
