{% extends 'index/base.html' %}
{% load static %}

{% block content %}
    <div class='container'>
        <div class="card-block">
            {% if user.is_authenticated %}
                <div class="col-sm-12">
                    <div class="card border-dark rounded mb-3">
                        <div class="card-body border-dark">
                            <div class="media">
                                <img class="img-fluid d-flex align-self-center mr-4" src="{% static icon_url %}"/>
                                <div class="media-body">
                                    {% if isResident == True %}
                                        <form method="POST">{% csrf_token %}
                                            {{ remark_form.text }}
                                            <button type="submit" name="remark" class="save btn btn-block btn-outline-info">発言</button>
                                            </form>
                                    {% else %}
                                        <form method="POST">{% csrf_token %}
                                            {{ resident_form.character }}
                                            <button type="submit" name="resident" class="save btn btn-block btn-outline-info">居住</button>
                                            </form>{% endif %}</div></div></div></div></div>{% endif %}
            {% for remark in remark_list %}
                <div class="col-sm-12">
                    <div class="card border-dark rounded mb-3">
                        <div class="card-body border-dark">
                            <div class="media">
                                <img class="img-fluid d-flex align-self-center mr-4" src="{% static remark.character_img_url %}"/>
                                <div class="media-body">
                                    <p class="card-text">
                                        <span class="c-title text-left">{{ remark.user }}</span>
                                        <span class="text-dark text-right" style="float:right;">{{ remark.date }}</span>
                                        </p>
                                    <p class="card-text text-word-break-all">{{ remark.text|linebreaks }}</p>
                                    </div></div></div></div></div>{% endfor %}</div></div>{% endblock %}
