{% extends 'werewolf/base.html' %}
{% load static %}

{% block content %}
<div class='content container'>
  <div class='row'>
    <div class='col-md-8'>
      <div class="post">
        <h4>発言</h4>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">投稿</button>
        </form>
      </div>
      <table class="table table-bordered">
        <tbody>
          {% for remark in remark_list %}
            <tr>
              <td rowspan="2" width="81"><img src="{% static remark.character_img_url %}"/></td>
              <td><h4>{{ remark.user }}</h4></td>
              <td width="180"><div class="date">{{ remark.date }}</div></td>
            </tr>
            <tr>
              <td colspan="2">{{ remark.text|linebreaks }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
