{% extends "index/base.html" %}

{% block content %}
  <div class='container'>
    <div class="card-group">
      <div class="col-sm-12">
        <div class="card border-dark rounded mb-4">
          <div class="card-body border-dark">
            <form action="{% url 'account:login' %}" method="POST">{% csrf_token %}
              {{ form.non_field_errors }}</p>
              {{ form.username }}
              {{ form.username.errors }}
              {{ form.password }}
              {{ form.password.errors }}
              <input type="hidden" name="next" value={{ next }} />
              <button type="submit" class="save btn btn-block btn-outline-info">ログイン</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
