{% extends "account/base.html" %}
{% block content %}
<div class="container">
  <div class="center">
    <h1>ログインページ</h1>
  </div>
 
  <div class="card-group">
    <div class="card card-outline-primary">
      <div class="card-block">
        <form action="{% url 'account:login' %}" method="POST">
          <p>{{ form.non_field_errors }}</p>
        　　{{ form.username }}
        　　{{ form.password }}
      　　  {% csrf_token %}
          <input type="hidden" name="next" value={{ next }} />
      　　  <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
            ログイン
          </button>
        </form>
      </div>
    </div>
    <div class="card card-outline-primary">
      <div class="card-block">
        <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'account:create' %}">
          会員登録
        </a>
      </div>
    </div>
 
  </div><!-- /.card-group -->
　　
</div><!-- /.container -->
{% endblock %}
 