{% extends "werewolf/base.html" %}

{% block content %}
<div class="container">
  <div class="card-group">
    <div class="card-block">
      <form action="{% url 'account:login' %}" method="POST">
        <p>{{ form.non_field_errors }}</p>
        　　{{ form.username }}
        　　{{ form.password }}
        　　  {% csrf_token %}
        <input type="hidden" name="next" value={{ next }} />
        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">ログイン</button>
      </form>
    </div>
  </div><!-- /.card-group -->
</div><!-- /.container -->
{% endblock %}
